@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
html,body{
    height: 100%;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #DCE1F6;
}
.imenu{
    display: inline-block;
    cursor: pointer;
    float: right;
    width: 40px;
    padding: .5em;
}
.banner{
    margin-top: 0;
    display: inline-block;
    text-align: left;
    width: 100%;
    height: auto;
    background-color: #860038;
}
.logo{
    display: inline;
    float: left;
    padding-left: 15px;
    padding-top: 1em;
    width:150px;
    cursor: pointer;
}
.esport{
    display: inline;
    width: 150px;
    float: right;
    cursor: pointer;
}
.menu{
    display: block;
}
ul.active{
    position: absolute;
    display: block;
    background: #DCE1F6;
    width: 40%;
    left: 0;
    top: 0%;
    height: auto;
}
li:hover{
    background-color: #550101;
}
ul{
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8em;
    display: block;
    padding: 1.5em 3em;
    background-color: rgba(255,255,255,.35);
    color: #000;
}
.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    width: 90%;
    background-color: #fff;
}
.searchbar{
    display: inline-flex;
    float: right;
    overflow: hidden;
    
}
.searchbar input[type =text]{
    outline: none;
    float: inline-start;
    padding: 8px;
    margin-top: 5px;
    font-size: 17px;
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 100px;
}
.searchbar button{
    float: inline-end;
    display: block;
    outline: none;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px 5px;
}
.img {
    float:  left;
    width:  150px;
    height: 200px;
    background-size: cover;
}
#mainContent,#subContent{
    margin-top: 0;
    padding-top: .5em;
    margin-left: 1em;
}
@media only screen and (min-width: 1239px){
html,body{
    height: 150%;
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    background-color: #DCE1F6;
}
.imenu{
    display: none;
    cursor: pointer;
}
.banner{
    display: block;
    text-align: left;
    height: 110px;
    min-height: 0% !important;
    background-color: #860038;
}
.logo{
    display:inline;
    float: left;
    padding-left: 15px;
    padding-top: 1em;
    width: 240px;
    cursor: pointer;
}
.esport{
    display: inline-block;
    width: 200px;
    float: right;
    cursor: pointer;
}
.menu, nav{
    display:inline-block;
}
ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li a{
    background-color: #860038;
    color: #fff;
}
li{
    font-weight: bold;
    width:auto;
    display: inline-block;
    padding-top: 2em;
}
a:hover{
    background-color: #550101;
}
li:hover{
    background-color:#860038;
}
.content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    width: 90%;
    background-color: #fff;
}
.searchbar{
    padding-top: 1em;
    display: inline-flex;
    float: right;
    overflow: hidden;
    
}
.searchbar input[type =text]{
    outline: none;
    float: inline-start;
    padding: 8px;
    margin-top: 5px;
    font-size: 17px;
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 100px;
}
.searchbar button{
    float: inline-end;
    display: block;
    outline: none;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px 5px;
}
.img {
    float:  left;
    width:  150px;
    height: 200px;
    background-size: cover;
}
#mainContent,#subContent{
    margin-top: 0;
    padding-top: 1em;
}
}