html,body{
    height: 2000px;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.banner{
    display: block;
    text-align: left;
    height: 5%;
    min-height: 0% !important;
    background-color: #860038;
}
.logo{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 20%;
    cursor: pointer;;
}